Repository joaovitorqueiroz/pokedex: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint . --ext .ts, npx eslint . --ext .tsx, npx eslint . --ext .js, npx eslint . --ext .jsx

feat: implement icon on android
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: none

feat: implement splash screen on android
  android/app/src/main/res/drawable/icon.png
  android/app/src/main/res/drawable/window_background_splash.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
Due: none

feat: implement splash screen and icon on ios
  ios/Pokedex.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  ios/Pokedex.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/Pokedex.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-20x20@2x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-20x20@3x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-29x29@2x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-29x29@3x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-40x40@2x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-40x40@3x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-60x60@2x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-60x60@3x.png
  ios/Pokedex/Images.xcassets/AppIcon.appiconset/Icon-marketing-1024x1024.png
  ios/Pokedex/Images.xcassets/Contents.json
  ios/Pokedex/Images.xcassets/logo.imageset/Contents.json
  ios/Pokedex/Images.xcassets/logo.imageset/logo.png
  ios/Pokedex/LaunchScreen.storyboard
Due: none

feat: config styled components
  .eslintrc.js
  .prettierrc.js
  App.tsx
  __tests__/App-test.tsx
  index.js
  package.json
  src/@types/styled.d.ts
  src/screens/Home/index.tsx
  src/screens/Home/styles.ts
  src/styles/themes/default.ts
  tsconfig.json
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx, npx eslint . --ext .js

feat: config react navigation
  App.tsx
  android/app/src/main/java/com/pokedex/MainActivity.java
  ios/Podfile.lock
  package.json
  src/@types/navigation.d.ts
  src/routes/app.routes.tsx
  src/routes/index.tsx
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: config react-native-reanimated
  babel.config.js
  ios/Podfile.lock
  package.json
  yarn.lock
Due: npx eslint . --ext .js

feat: implement animated splash screen
  src/@types/navigation.d.ts
  src/@types/png.d.ts
  src/assets/logo.png
  src/routes/app.routes.tsx
  src/screens/Splash/index.tsx
  src/screens/Splash/styles.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

refactor: config alias path
  App.tsx
  babel.config.js
  package.json
  src/@types/styled.d.ts
  src/routes/app.routes.tsx
  src/screens/Home/index.tsx
  tsconfig.json
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx, npx eslint . --ext .js

chore: config testing-library/react-native
  package.json
  tsconfig.json
  yarn.lock
Due: none

chore: config react-native-vector-icons
  android/app/build.gradle
  ios/Fonts/AntDesign.ttf
  ios/Fonts/Entypo.ttf
  ios/Fonts/EvilIcons.ttf
  ios/Fonts/Feather.ttf
  ios/Fonts/FontAwesome.ttf
  ios/Fonts/FontAwesome5_Brands.ttf
  ios/Fonts/FontAwesome5_Regular.ttf
  ios/Fonts/FontAwesome5_Solid.ttf
  ios/Fonts/Fontisto.ttf
  ios/Fonts/Foundation.ttf
  ios/Fonts/Ionicons.ttf
  ios/Fonts/MaterialCommunityIcons.ttf
  ios/Fonts/MaterialIcons.ttf
  ios/Fonts/Octicons.ttf
  ios/Fonts/SimpleLineIcons.ttf
  ios/Fonts/Zocial.ttf
  ios/Podfile.lock
  ios/Pokedex.xcodeproj/project.pbxproj
  ios/Pokedex/Info.plist
  package.json
  yarn.lock
Due: none

feat: create header
  package.json
  src/assets/pokeball_grey.png
  src/assets/pokeball_white.png
  src/screens/Home/components/Header/index.tsx
  src/screens/Home/components/Header/styles.ts
  src/screens/Home/components/Searchbar/index.tsx
  src/screens/Home/components/Searchbar/styles.ts
  src/screens/Home/components/index.ts
  src/screens/Home/index.tsx
  src/screens/Home/styles.ts
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: add Searchbar
  src/screens/Home/components/Searchbar/index.tsx
  src/screens/Home/components/Searchbar/styles.ts
  src/screens/Home/components/index.ts
  src/screens/Home/index.tsx
  src/screens/Home/styles.ts
  src/styles/themes/default.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: create card
  src/components/Chip/index.tsx
  src/components/Chip/styles.ts
  src/components/index.ts
  src/hooks/usePokemonColorPalette.ts
  src/hooks/useUriImagePokemon.ts
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/Card/styles.ts
  src/screens/Home/index.tsx
  src/styles/themes/default.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

refactor: change hearder image
  src/assets/poke_ball_grey.png
  src/assets/poke_ball_white.png
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/Header/index.tsx
  src/screens/Home/components/Header/styles.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

refactor: rename SearchBar
  src/screens/Home/components/Searchbar/index.tsx
  src/screens/Home/components/index.ts
  src/screens/Home/index.tsx
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

refactor: add background color
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/styles.ts
  src/styles/themes/default.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

fix: text color correction in white palette
  src/components/Chip/index.tsx
  src/components/Chip/styles.ts
  src/hooks/usePokemonColorPalette.ts
  src/screens/Home/components/Card/index.tsx
  src/styles/themes/default.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

chore: install axios and react-query
  App.tsx
  package.json
  src/services/axios.ts
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: list pokemon card
  src/hooks/useGetPokemon.ts
  src/hooks/useGetPokemonDetailsByName.ts
  src/hooks/useGetPokemonSpeciesDetailsByName.ts
  src/hooks/usePokemonColorPalette.ts
  src/models/ColorOptions.ts
  src/models/PokemonDetails.ts
  src/models/PokemonList.ts
  src/models/PokemonSpeciesDetails.ts
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/Card/styles.ts
  src/screens/Home/components/PokemonList/index.tsx
  src/screens/Home/components/PokemonList/styles.ts
  src/screens/Home/components/index.ts
  src/screens/Home/index.tsx
  src/screens/Home/styles.ts
  src/services/api/pokemon/index.ts
  src/services/api/pokemon_species/index.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: add screen details
  src/@types/navigation.d.ts
  src/components/Chip/index.tsx
  src/routes/app.routes.tsx
  src/screens/Details/index.tsx
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/Card/styles.ts
  src/screens/Home/components/PokemonList/index.tsx
  src/utils/capitalize.ts
  src/utils/formatId.ts
  src/utils/index.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

fix: color SearchBar
  package.json
  src/routes/app.routes.tsx
  src/screens/Home/components/Searchbar/styles.ts
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: create header on details screen
  src/@types/navigation.d.ts
  src/components/Chip/styles.ts
  src/components/PokemonId/index.tsx
  src/components/PokemonId/styles.ts
  src/components/index.ts
  src/hooks/usePokemonColorPalette.ts
  src/hooks/useUriImagePokemon.ts
  src/models/PokemonColorPalette.ts
  src/routes/app.routes.tsx
  src/screens/Details/index.tsx
  src/screens/Details/styles.tsx
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/Card/styles.ts
  src/screens/Home/components/Header/styles.ts
  src/screens/Home/components/PokemonList/index.tsx
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

fix: reset stack navigation on splash screen
  src/screens/Splash/index.tsx
Due: npx eslint . --ext .tsx

test: ensure Card component render correctly
  src/components/Chip/index.tsx
  src/screens/Home/components/Card/__tests__/Card.test.tsx
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/Card/styles.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

test: ensure Chip component render correctly
  __tests__/App-test.tsx
  src/components/Chip/__tests__/Chip.test.tsx
Due: npx eslint . --ext .tsx

test: Ensures that usePokemonColorPalette correctly returns the corresponding color palette
  src/hooks/__tests__/usePokemonColorPalette.test.ts
Due: npx eslint . --ext .ts

test: Ensure that when receiving a pokemon id it returns a uri of the corresponding pokemon image
  src/hooks/__tests__/useUriImagePokemon.test.ts
Due: npx eslint . --ext .ts

refactor: replaces restful API for graphQL
  package.json
  src/components/Chip/__tests__/Chip.test.tsx
  src/hooks/__tests__/useUriImagePokemon.test.ts
  src/hooks/useFetchAllPokemons.ts
  src/hooks/useGetPokemon.ts
  src/hooks/useGetPokemonDetailsByName.ts
  src/hooks/useGetPokemonSpeciesDetailsByName.ts
  src/hooks/useUriImagePokemon.ts
  src/models/PokemonDetails.ts
  src/models/PokemonList.ts
  src/models/PokemonSpeciesDetails.ts
  src/screens/Details/index.tsx
  src/screens/Home/components/Card/index.tsx
  src/screens/Home/components/PokemonList/index.tsx
  src/screens/Home/components/PokemonList/styles.ts
  src/screens/Home/components/index.ts
  src/screens/Home/index.tsx
  src/services/api/pokemon/index.ts
  src/services/api/pokemon_species/index.ts
  src/services/axios.ts
  src/services/client.ts
  src/services/graphQL/pokemon/queries.ts
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: create function search
  src/screens/Home/components/Header/index.tsx
  src/screens/Home/index.tsx
Due: npx eslint . --ext .tsx

feat: create loading
  ios/Podfile.lock
  package.json
  src/assets/loading.json
  src/components/Loading/index.tsx
  src/components/Loading/styles.ts
  src/components/index.ts
  src/screens/Home/index.tsx
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

test: ensure Loading component render correctly
  src/components/Loading/__tests__/Loading.test.tsx
  src/components/Loading/__tests__/__snapshots__/Loading.test.tsx.snap
Due: npx eslint . --ext .tsx

feat: create summary
  ios/Podfile.lock
  package.json
  src/components/Chip/index.tsx
  src/components/Chip/styles.ts
  src/screens/Details/components/Physiology/index.tsx
  src/screens/Details/components/Physiology/styles.ts
  src/screens/Details/components/Stats/index.tsx
  src/screens/Details/components/Stats/styles.ts
  src/screens/Details/components/Summary/index.tsx
  src/screens/Details/components/Summary/styles.ts
  src/screens/Details/components/index.ts
  src/screens/Details/index.tsx
  src/screens/Home/components/Card/index.tsx
  yarn.lock
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

feat: create useFetchPokemonDetailsById
  src/components/Chip/styles.ts
  src/hooks/useFetchPokemonDetailsById.ts
  src/models/PokemonDetails.ts
  src/screens/Details/components/Physiology/index.tsx
  src/screens/Details/components/Stats/index.tsx
  src/screens/Details/components/Stats/styles.ts
  src/screens/Details/components/Summary/index.tsx
  src/screens/Details/components/Summary/styles.ts
  src/screens/Details/index.tsx
  src/services/api/pokemon/index.ts
  src/services/graphQL/pokemon/queries.ts
  src/utils/formattedText.ts
  src/utils/index.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

chore: add README.md
  README.md
Due: none

chore: update readme
  README.md
Due: none

chore: config github actions
  .github/workflows/test.yml
Due: none

fix: text colors
  src/screens/Details/components/Physiology/styles.ts
  src/screens/Details/components/Stats/styles.ts
  src/screens/Details/components/Summary/styles.ts
Due: npx eslint . --ext .ts

Path conditions:
  npx eslint . --ext .ts: any of: *.ts
  npx eslint . --ext .tsx: any of: *.tsx
  npx eslint . --ext .js: any of: *.js
  npx eslint . --ext .jsx: any of: *.jsx
