Repository joaovitorqueiroz/pokedex: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint . --ext .ts, npx eslint . --ext .tsx, npx eslint . --ext .js, npx eslint . --ext .jsx

.lintstagedrc.json:

{
  "*.ts":[
    "npx eslint . --ext .ts"
  ],
  "*.tsx":[
    "npx eslint . --ext .tsx"
  ],
  "*.js":[
    "npx eslint . --ext .js"
  ],
  "*.jsx":[
    "npx eslint . --ext .jsx"
  ]
}

fix: validation string
  src/screens/Details/components/Summary/index.tsx
  src/screens/Details/index.tsx
  src/screens/Home/components/PokemonList/index.tsx
  src/utils/capitalize.ts
  src/utils/formattedText.ts
Due: npx eslint . --ext .ts, npx eslint . --ext .tsx

fix: text colors on stats value
  src/screens/Details/components/Stats/styles.ts
  src/screens/Details/components/Summary/styles.ts
Due: npx eslint . --ext .ts

feat: add snackbar on requests errors
  ios/Podfile.lock
  package.json
  src/hooks/useFetchAllPokemons.ts
  src/hooks/useFetchPokemonDetailsById.ts
  yarn.lock
Due: npx eslint . --ext .ts

style: fix padding description
  src/screens/Details/components/Summary/styles.ts
Due: npx eslint . --ext .ts

chore: update github actions
  .github/workflows/config.yml
  .github/workflows/test.yml
Due: none

refactor: formattedText
  src/utils/formattedText.ts
Due: npx eslint . --ext .ts

test: ensures that the capitalize function works correctly
  src/utils/__tests__/capitalize.test.ts
Due: npx eslint . --ext .ts

test: ensures that the formattedText function works correctly
  src/utils/__tests__/formattedText.test.ts
Due: npx eslint . --ext .ts

test: ensures that the formatId function works correctly
  src/utils/__tests__/formatId.test.ts
Due: npx eslint . --ext .ts

chore: remove import/export files (index) from test coverage
  src/components/index.ts
  src/styles/themes/default.ts
  src/utils/index.ts
Due: npx eslint . --ext .ts

chore: collect coverage config
  package.json
Due: none

test: ensure that the card does NOT re-render when the id prop does NOT change
  src/screens/Home/components/Card/__tests__/Card.test.tsx
Due: npx eslint . --ext .tsx

docs: update readme
  README.md
Due: none
